version: '3.8'

services:
  nginx:
    image: {{ nginx_image }}
    container_name: {{ nginx_container_name }}
    restart: always
    volumes:
      - "{{ nginx_conf_path }}:/etc/nginx/conf.d/default.conf:ro"
      - "{{ nginx_ssl_certificate }}:/etc/nginx/ssl/ssl_certificate.crt:ro"
      - "{{ nginx_ssl_certificate_key }}:/etc/nginx/ssl/ssl_certificate.key:ro"
      - "{{ redis_inside_auth_htpasswd }}:/etc/nginx/.htpasswd:ro"
    ports:
      - "{{ nginx_http_port }}:80"
      - "{{ nginx_https_port }}:443"
    depends_on:
      - pgadmin4
      - rabbitmq
      - redis-insight
      - minio
      - auth
      - store

  postgres:
    image: {{ postgres_image }}
    container_name: {{ postgres_container_name }}
    restart: always
    environment:
      POSTGRES_DB: {{ postgres_db }}
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_PASSWORD: {{ postgres_password }}
    volumes:
      - "{{ postgres_volume_name }}:/var/lib/postgresql/data"
{% if postgres_port %}
    ports:
      - "{{ postgres_port }}:{{ postgres_container_port }}"
{% endif %}
  
  pgadmin4:
    image: {{ pgadmin_image }}
    container_name: {{ pgadmin_container_name }}
    restart: always
    environment:
      PGADMIN_LISTEN_PORT: {{ pgadmin_container_port }}
      PGADMIN_DEFAULT_EMAIL: {{ pgadmin_user }}
      PGADMIN_DEFAULT_PASSWORD: {{ pgadmin_password }}
      PGADMIN_CONFIG_WTF_CSRF_CHECK_DEFAULT: 'False'
      PGADMIN_CONFIG_WTF_CSRF_ENABLED: 'False'
    volumes:
      - "{{ pgadmin_volume_name }}:/var/lib/pgadmin"
{% if pgadmin_port %}
    ports:
      - "{{ pgadmin_port }}:{{ pgadmin_container_port }}"
{% endif %}
    depends_on:
      - postgres
  
  rabbitmq:
    image: {{ rabbitmq_image }}
    container_name: {{ rabbitmq_container_name }}
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: {{ rabbitmq_user }}
      RABBITMQ_DEFAULT_PASS: {{ rabbitmq_password }}
    volumes:
      - "{{ rabbitmq_volume_name }}:/var/lib/rabbitmq"
{% if rabbitmq_port or rabbitmq_manager_port %}
    ports:
{% if rabbitmq_port %}
      - "{{ rabbitmq_port }}:{{ rabbitmq_container_port }}"
{% endif %}
{% if rabbitmq_manager_port %}
      - "{{ rabbitmq_manager_port }}:{{ rabbitmq_manager_container_port }}"
{% endif %}
{% endif %}
  
  redis:
    image: {{ redis_image }}
    container_name: {{ redis_container_name }}
    restart: always
    environment:
      ALLOW_EMPTY_PASSWORD: no
      REDIS_PASSWORD: {{ redis_password }}
    volumes:
      - "{{ redis_volume_name }}:/data"
{% if redis_port %}
    ports:
      - "{{ redis_port }}:{{ redis_container_port }}"
{% endif %}

  redis-insight:
    image: {{ redis_insight_image }}
    container_name: {{ redis_insight_container_name }}
    restart: always
    volumes:
      - "{{ redis_insight_volume_name }}:/data"
{% if redis_insight_port %}
    ports:
      - "{{ redis_insight_port }}:{{ redis_insight_container_port }}"
{% endif %}
  
  minio:
    image: {{ minio_image }}
    container_name: {{ minio_container_name }}
    restart: always
    environment:
      MINIO_ROOT_USER: {{ minio_root_user }}
      MINIO_ROOT_PASSWORD: {{ minio_root_password }}
    volumes:
      - "{{ minio_volume_name }}:/bitnami/minio/data"
{% if minio_server_port or minio_console_port %}
    ports:
{% if minio_server_port %}
      - "{{ minio_server_port }}:{{ minio_server_container_port }}"
{% endif %}
{% if minio_console_port %}
      - "{{ minio_console_port }}:{{ minio_console_container_port }}"
{% endif %}
{% endif %}

  auth:
    image: {{ auth_image }}
    container_name: {{ auth_container_name }}
    restart: always
    environment:
      HTTP_PORT_AUTH: {{ auth_container_port }}

      RABBITMQ_AUTH_QUEUE_NAME: {{ services_common_config.rabbitmq_auth_queue_name }}
      RABBITMQ_BOT_QUEUE_NAME: {{ services_common_config.rabbitmq_bot_queue_name }}
      RABBITMQ_FILE_QUEUE_NAME: {{ services_common_config.rabbitmq_file_queue_name }}
      RABBITMQ_NOTIFICATION_QUEUE_NAME: {{ services_common_config.rabbitmq_notification_queue_name }}
      RABBITMQ_STORAGE_QUEUE_NAME: {{ services_common_config.rabbitmq_storage_queue_name }}
      RABBITMQ_STORE_QUEUE_NAME: {{ services_common_config.rabbitmq_store_queue_name }}
      RABBITMQ_TASK_QUEUE_NAME: {{ services_common_config.rabbitmq_task_queue_name }}
      LOG_LEVEL: {{ services_common_config.log_level }}
      CORS_ORIGINS: {{ services_common_config.cors_origins }}

      POSTGRES_HOST: {{ services_common_secrets.postgres_host }}
      POSTGRES_PORT: {{ services_common_secrets.postgres_port }}
      POSTGRES_USERNAME: {{ services_common_secrets.postgres_username }}
      POSTGRES_PASSWORD: {{ services_common_secrets.postgres_password }}
      POSTGRES_SYNCHRONIZE: {{ services_common_secrets.postgres_synchronize }}
      POSTGRES_AUTO_LOAD_ENTITIES: {{ services_common_secrets.postgres_auto_load_entities }}
      RABBITMQ_URI: {{ services_common_secrets.rabbitmq_uri }}
      RABBITMQ_DEFAULT_USER: {{ services_common_secrets.rabbitmq_default_user }}
      RABBITMQ_DEFAULT_PASS: {{ services_common_secrets.rabbitmq_default_pass }}
      REDIS_HOST: {{ services_common_secrets.redis_host }}
      REDIS_PORT: {{ services_common_secrets.redis_port }}
      REDIS_PASSWORD: {{ services_common_secrets.redis_password }}
      REDIS_CACHE_TTL_GLOBAL: {{ services_common_secrets.redis_cache_ttl_global }}

      POSTGRES_DATABASE_AUTH: {{ auth.postgre_database_name }}
      REDIS_CACHE_KEY_PREFIX_AUTH: {{ auth.redis_cache_key_prefix }}
      SWAGGER_SERVER_HOST: {{ auth.swagger_server_host }}
      JWT_SECRET: "{{ auth.jwt_secret }}"
      OTP_SMS_EXPIRATION: {{ auth.otp_sms_expiration }}
      OTP_EMAIL_EXPIRATION: {{ auth.otp_email_expiration }}
      COOKIE_CONFIG_SECURE: {{ auth.cookie_config_secure }}
      COOKIE_CONFIG_SAME_SITE: {{ auth.cookie_config_same_site }}
      COOKIE_CONFIG_DOMAIN: {{ auth.cookie_config_domain }}
      DEFAULT_ACCESS_ID: {{ auth.default_access_id }}
      JWT_EXPIRATION: {{ auth.jwt_expiration }}
      DEFAULT_USER_FIRST_NAME: {{ auth.default_user_first_name }}
      DEFAULT_USER_LAST_NAME: {{ auth.default_user_last_name }}

    depends_on:
      - rabbitmq
      - postgres
      - redis

  store:
    image: {{ store_image }}
    container_name: {{ store_container_name }}
    restart: always
    environment:
      HTTP_PORT_STORE: {{ store_container_port }}

      RABBITMQ_AUTH_QUEUE_NAME: {{ services_common_config.rabbitmq_auth_queue_name }}
      RABBITMQ_BOT_QUEUE_NAME: {{ services_common_config.rabbitmq_bot_queue_name }}
      RABBITMQ_FILE_QUEUE_NAME: {{ services_common_config.rabbitmq_file_queue_name }}
      RABBITMQ_NOTIFICATION_QUEUE_NAME: {{ services_common_config.rabbitmq_notification_queue_name }}
      RABBITMQ_STORAGE_QUEUE_NAME: {{ services_common_config.rabbitmq_storage_queue_name }}
      RABBITMQ_STORE_QUEUE_NAME: {{ services_common_config.rabbitmq_store_queue_name }}
      RABBITMQ_TASK_QUEUE_NAME: {{ services_common_config.rabbitmq_task_queue_name }}
      LOG_LEVEL: {{ services_common_config.log_level }}
      CORS_ORIGINS: {{ services_common_config.cors_origins }}

      POSTGRES_HOST: {{ services_common_secrets.postgres_host }}
      POSTGRES_PORT: {{ services_common_secrets.postgres_port }}
      POSTGRES_USERNAME: {{ services_common_secrets.postgres_username }}
      POSTGRES_PASSWORD: {{ services_common_secrets.postgres_password }}
      POSTGRES_SYNCHRONIZE: {{ services_common_secrets.postgres_synchronize }}
      POSTGRES_AUTO_LOAD_ENTITIES: {{ services_common_secrets.postgres_auto_load_entities }}
      RABBITMQ_URI: {{ services_common_secrets.rabbitmq_uri }}
      RABBITMQ_DEFAULT_USER: {{ services_common_secrets.rabbitmq_default_user }}
      RABBITMQ_DEFAULT_PASS: {{ services_common_secrets.rabbitmq_default_pass }}
      REDIS_HOST: {{ services_common_secrets.redis_host }}
      REDIS_PORT: {{ services_common_secrets.redis_port }}
      REDIS_PASSWORD: {{ services_common_secrets.redis_password }}
      REDIS_CACHE_TTL_GLOBAL: {{ services_common_secrets.redis_cache_ttl_global }}

      POSTGRES_DATABASE_STORE: {{ store.postgre_database_name }}
      REDIS_CACHE_KEY_PREFIX_STORE: {{ store.redis_cache_key_prefix }}
      SWAGGER_SERVER_HOST: {{ store.swagger_server_host }}
      INVOICE_DOWNLOAD_URL: {{ store.invoice_download_url }}
      PAYMENT_SADAD_MERCHANT_ID: {{ store.payment_sadad_merchant_id }}
      PAYMENT_SADAD_TERMINAL_ID: {{ store.payment_sadad_termianl_id }}
      PAYMENT_SADAD_TERMINAL_KEY: {{ store.payment_sadad_terminal_key }}
      PAYMENT_SADAD_RETURN_URL: {{ store.payment_sadad_return_url }}
      PAYMENT_REDIRECT_TO_WEBSITE_URL: {{ store.payment_redirect_to_website_url }}
      SALE_SUPPORT_PHONE_NUMBER_1: {{ store.sale_support_phone_number_1 }}
      WEBSITE_ORDERS_LINK: {{ store.website_orders_link }}

    depends_on:
      - rabbitmq
      - postgres
      - redis

volumes:
  {{ postgres_volume_name }}:
  {{ rabbitmq_volume_name }}:
  {{ pgadmin_volume_name }}:
  {{ redis_volume_name }}:
  {{ redis_insight_volume_name }}:
  {{ minio_volume_name }}:
