-- =================== Creating Databases ====================
CREATE DATABASE {{ auth_postgre_database_name }};
CREATE DATABASE {{ bot_postgre_database_name }};
CREATE DATABASE {{ file_postgre_database_name }};
CREATE DATABASE {{ notification_postgre_database_name }};
CREATE DATABASE {{ storage_postgre_database_name }};
CREATE DATABASE {{ store_postgre_database_name }};
